/* common css */
p{
    margin: 0;
    padding: 0;
}
/* posts pages */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts__container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 40%;
    /* border: 1px solid gray; */
    padding-left: 20px;
    padding-right: 20px;
}
/* posts details */
.posts{
    margin-top: 20px;
}
.title__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__title-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons__btn{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* edit posts */
.edit__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit__posts{
width: 50%;
}
.edit__title-section{
    margin-top: 20px;
}
.edit__posts-body{
    margin-top: 20px;
}
.update-btn{
    margin-top: 10px;
    float: right;
}